<style>
  table, tr, td, th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
  }

  table {
    min-width: 80%;
  }
</style>
<div>

</div>

<table>
  <thead>
  <tr *ngFor="let student of studentList">
    <th>ID</th>
    <th>FirtName</th>
    <th>LastName</th>
    <th>MiddleName</th>
    <th>Description</th>
    <th>StudyStartDate</th>
    <th>StudyEndDate</th>
    <th>Study</th>
    <th>Gender</th>
    <th>BirthDate</th>
    <th>CreatedAt</th>
    <th colspan="2">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let student of studentList">
    <td>{{student.id}}</td>
    <td>{{student.firstName}}</td>
    <td>{{student.lastName}}</td>
    <td>{{student.middleName}}</td>
    <td>{{student.description}}</td>
    <td>{{student.studyStartDate}}</td>
    <td>{{student.studyEndDate}}</td>
    <td>{{student.study}}</td>
    <td>{{student.gender}}</td>
    <td>{{student.birthDate}}</td>
    <td>{{student.createdAt}}</td>
    <td>
      <!--   This for get student   -->
      <a [routerLink]="['/students', student.id]" type="button">Edit</a>
    </td>
    <td>
      <a href="#" type="button">Delete</a>
    </td>
  </tr>
  </tbody>

</table>

