<style>
  table, tr, td, th {
    padding: 5px;
  }

  table {
    min-width: 80%;
  }
</style>
<div class="container">
  <div style="padding: 20px; text-align: right; right: 20% !important;">
    <a type="button" (click)="clearFilter()" *ngIf="studyId != 0">cancel filter &nbsp;</a>
    <div style="position: fixed;left: 65%;top: 10.5%;" *ngIf="studyId == 0">Filter by Study</div>
    <select id="studiesId" name="studiesId" [(ngModel)]="studyId" (ngModelChange)="filter()">
      <option *ngFor="let study of studies" [value]="study.id">
        {{study?.name}}
      </option>
    </select>

    <a type="button" href="/add" class="btn btn-success" style="margin: 10px">Add</a>
    <a type="button" (click)="export()" class="btn btn-primary" style="margin: 10px">Export to excel</a>
  </div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>ID</th>
      <th>FirtName</th>
      <th>LastName</th>
      <th>MiddleName</th>
      <th>Description</th>
      <th>StudyStartDate</th>
      <th>StudyEndDate</th>
      <th>Study</th>
      <th>Gender</th>
      <th>BirthDate</th>
      <th>CreatedAt</th>
      <th colspan="2">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let student of filterStudentList | paginate: {
    itemsPerPage: tableSize,
    currentPage: page,
    totalItems: count
    }">
      <td>{{student.id}}</td>
      <td>{{student.firstName}}</td>
      <td>{{student.lastName}}</td>
      <td>{{student.middleName}}</td>
      <td>{{student.description}}</td>
      <td>{{student.studyStartDate}}</td>
      <td>{{student.studyEndDate}}</td>
      <td>{{student.studies?.name}}</td>
      <td>{{student.gender}}</td>
      <td>{{student.birthDate}}</td>
      <td>{{student.createdAt}}</td>
      <td>
        <!--   This for get student   -->
        <a [routerLink]="['/students', student.id]" class="btn btn-secondary" type="button"><span
          class="bi bi-pen"></span></a>
      </td>
      <td>
        <button type=button class="btn btn-danger" (click)="delete(student?.id)"><span class="bi bi-trash"></span>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div align="center" style="padding: 10px; position: fixed; top: 90%; left:40%">
  <pagination-controls
    previousLabel="Prev"
    nextLabel="Next"
    (pageChange)="onTableDataChange($event)">
  </pagination-controls>
</div>
